/**
 * Global
 */
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#app {
  width: 100vw;
  height: 100vh;
  background-color: #141518;
}

.app-brand {
  width: 15vw;
  height: 10vw;
  transform: scale(0.5);
}

@media (min-width: 400px) {
  .app-brand {
    width: 16vw;
    transform: scale(0.6);
  }
}

@media (min-width: 700px) {
  .app-brand {
    width: 25vw;
    height: 20vw;
    transform: scale(0.8);
  }
}

@media (min-width: 992px) {
  .app-brand {
    width: 28vw;
    height: 20vw;
    transform: scale(1.0);
    padding-left: 25px;
    padding-top: 15px;
  }
}

/**
 * Icons
 */
.icon {
  display: flex;
  justify-content: center;
  text-align: center;
}

.icon-sm .feather {
  width: 25px;
  height: 25px;
}
.icon-lg .feather {
  width: 40px;
  height: 40px;
}
.icon-xl .feather {
  width: 60px;
  height: 60px;
}

.nav-icon-sm .feather {
  width: 25px;
  height: 25px;
  fill: currentColor
}
.nav-icon-lg .feather {
  width: 40px;
  height: 40px;
  fill: currentColor
}
.nav-icon-xl .feather {
  width: 60px;
  height: 60px;
  fill: currentColor
}

/* Icon Button */
.icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  font-weight: bold;
  color: #141518;
  background-color: #ffd016;
  border-radius: 50%;
}

@media (min-width: 330px) {
  .icon-btn {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 700px) {
  .icon-btn {
    width: 70px;
    height: 70px;
  }
}

@media (min-width: 992px) {
  .icon-btn {
    width: 90px;
    height: 90px;
  }
}


/**
 * Bottom Navbar
 */
.bottom-navbar {
  height: 50px;
  background-color: #141518;
}

/* Nav Items */
.bottom-navbar .nav-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  color: white;
  font-size: 2.5vw;
  font-weight: 400;
  opacity: 0.8;
}

.bottom-navbar .nav-link .feather {
  stroke-width: 2px;
  width: 7vw;
  height: 7vw;
}

@media (min-width: 330px) {
  .bottom-navbar {
    height: 55px;
  }

  .bottom-navbar .nav-link {
    font-size: 3vw;
  }
}

@media (min-width: 400px) {
  .bottom-navbar {
    height: 60px;
  }

  .bottom-navbar .nav-link {
    font-size: 3.3vw;
  }
}

@media (min-width: 700px) {
  .bottom-navbar {
    height: 80px;
  }

  .bottom-navbar .nav-link {
    font-size: 2.5vw;
  }

  .bottom-navbar .nav-link .feather {
    stroke-width: 2px;
    width: 4.5vw;
    height: 4.5vw;
  }
}

@media (min-width: 992px) {
  .bottom-navbar {
    height: 100px;
  }

  .bottom-navbar .nav-link {
    font-size: 2.5vw;
  }

  .bottom-navbar .nav-link .feather {
    stroke-width: 2px;
    width: 4.5vw;
    height: 4.5vw;
  }
}

.bottom-navbar .nav-link.active {
  color: #ffd016;
  font-weight: 500;
  opacity: 1;
}
.bottom-navbar .nav-link.active .feather {
  fill: currentColor;
}

/**
 * App Content
 */
.app-content {
  width: 100%;
  height: 100%;
  z-index: 99;
}

.app-content,
.app-backdrop {
  position: absolute;
}

/**
 * App Backdrop
 */
.app-backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


.app-content {
  font-size: 0.7rem;
}

@media (min-width: 330px) {
  .app-content {
    font-size: 0.85rem;
  }
}

@media (min-width: 400px) {
  .app-content {
    font-size: 1rem;
  }
}

@media (min-width: 700px) {
  .app-content {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .app-content {
    font-size: 1.75rem;
  }
}
